<!-- <a href="{{ .Permalink }}">
    <div class="summary border p-3">
        <h2 class="text-3xl">
            {{ .Title }}
        </h2>
        <p>{{ .Description }}</p>
        
        {{ with .Params.image }}
            <img src="{{ . }}" alt="{{ $.Title }}" style="width: 100%; object-fit: cover; aspect-ratio: 3/2;">
        {{ end }}
    </div>
</a> -->

<!-- <a href="{{ .Permalink }}">
    <div class="summary border p-3" style="background-image: url('{{ .Params.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 200px;filter: brightness(50%);">
        <h2 class="text-3xl {{ if eq .Params.text_color "white" }}text-white{{ else }}text-black{{ end }}">
            {{ .Title }}
        </h2>
        <p class="{{ if eq .Params.text_color "white" }}text-white{{ else }}text-black{{ end }}">
            {{ .Description }}
        </p>
    </div>
</a> -->

<a href="{{ .Permalink }}">
    <div class="summary-container hover:opacity-80">
        <div class="summary-background" style="background-image: url('{{ .Params.image }}');"></div>
        <div class="summary-content">
            <h2 class="text-3xl {{ if eq .Params.text_color "white" }}text-white{{ else }}text-black{{ end }}">
                {{ .Title }}
            </h2>
            <p class="{{ if eq .Params.text_color "white" }}text-white{{ else }}text-black{{ end }}">
                {{ .Description }}
            </p>
        </div>
    </div>
</a>