<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="" style="filter: brightness(30%);">
            <div class="s-fade-txt">
                <h1 class="text-4xl {{ or .color "text-white" }}">{{ .title }}</h1>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<style>
    /* Custom height for Swiper container */
    .swiper-container {
        height: 50vh; /* Set your preferred height */
    }
    .swiper-wrapper img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
    .active {
        display: block !important;
    }
    .slide-wrap img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
    }
</style>